[submodule "sealer/extern/filecoin-ffi"]
	path = sealer/extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
